@charset "UTF-8";

div.gallery{
    margin: 5px;
    border: 3px ridge gold;
    float: left;
    width: 180px;

}
div.gallery:hover{
    border: 1px solid silver
}
div.gallery img{
    width: 160px;
    height: 160px;

    border: none;
}
body{
    background-color: white;
}